absl-py
asttokens
astunparse
certifi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
executing
flatbuffers
fonttools
gast
google-pasta
grpcio
h5py
idna
imbalanced-learn
imblearn
ipykernel
ipympl
ipython
ipython-genutils
ipywidgets
jedi
joblib
jupyter_client
jupyter_core
jupyterlab_widgets
keras
kiwisolver
libclang
llvmlite
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml_dtypes
mlxtend
namex
nest-asyncio
numba
numpy
opt_einsum
optree
packaging
pandas
parso
pexpect
pillow
pip-review
platformdirs
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
Pygments
pynndescent
pyparsing
PyQt6
PyQt6-Qt6
PyQt6_sip
python-dateutil
pytz
pyzmq
requests
rich
scikit-learn
scipy
seaborn
six
skfeature-chappers
stack-data
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tornado
tqdm
traitlets
typing_extensions
tzdata
umap-learn
urllib3
wcwidth
Werkzeug
widgetsnbextension
wrapt
